img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 16 / 9;
  height: 100vh;
  max-width: 177.78vh; /* 16 / 9 * 100 = 177.78 */
  object-fit: cover;
}

p {
  font-family: monospace;
  text-align: left;
  color: #ccc;
  font-weight: bold;
  font-size: 2rem;
  padding: 0;
  margin: 0;
  position: relative;
  /* left: 50%; */
  transform: translate(46%, 25%);
}
h1 {
  font-family: monospace;
  text-align: center;
  color: #fff;
  font-size: 5rem;
  padding: 0;
  margin: 0;
}
span {
  color: #060;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #111;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes loader {
  0% {
    top: 0%;
  }
  100% {
    top: -100%;
  }
}

.note {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%);
  font-size: 1.5rem;
}

@keyframes transition0 {
  0% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(-250%, -50%);
  }
}

@keyframes transition1 {
  0% {
    transform: translate(150%, -50%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
  font-family: monospace;
  color: #fff;
  height: 100vh;
  width: 100vw;
}

@keyframes rainbow {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
